.textInput input {
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
}
.textInput::placeholder {
    color: var(--mantine-color-customPlaceholder-filled);
}
.textInput {
    width: 100%;
}   
.customLabel {
    width: 100%;
}
.customError {
    --input-bd: var(--mantine-color-customError-filled);
    color: var(--input-bd);
    padding-top: var(--mantine-spacing-xs);
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
}

.textInput input[data-variant='default'] {
    --input-bd: var(--mantine-color-customBorder-filled);
    border: 1.5px solid var(--input-bd);
}
.textInput input[data-error='true'] {
    --input-bd: var(--mantine-color-customError-filled);
    color: var(--input-bd);
    border: 1.5px solid var(--input-bd);
    font-weight: 600;
}
.customInput .mantine-InputBase-error {
    color: var(--input-bd)
}

.search {
    color: var(--mantine-color-customGrayBlue-filled)
}
.searchInput::placeholder{
    color: var(--mantine-color-customGrayBlue-filled)
}