.label {
    display: flex;
    flex-direction: row;
}
.labelContent {
    font-size: rem(14);
    line-height: rem(20);
    margin-bottom: rem(6);
    font-weight: 500;
    letter-spacing: rem(0.5);
    font-family: var(--font-bigCaslon);
}